@font-face {
  font-family: "iconfont"; /* Project id 3559854 */
  src: url('../fonts/iconfont.woff2?t=1659405061679') format('woff2'),
       url('../fonts/iconfont.woff?t=1659405061679') format('woff'),
       url('../fonts/iconfont.ttf?t=1659405061679') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-iconcar2:before {
  content: "\e76c";
}

.icon-finish:before {
  content: "\e76d";
}

.icon-a-iconcar1:before {
  content: "\e76e";
}

.icon-a-my1:before {
  content: "\e73f";
}

.icon-a-my2:before {
  content: "\e745";
}

.icon-a-news2:before {
  content: "\e746";
}

.icon-a-news1:before {
  content: "\e765";
}

.icon-a-car1:before {
  content: "\e766";
}

.icon-a-car2:before {
  content: "\e767";
}

.icon-a-waybill1:before {
  content: "\e768";
}

.icon-a-task1:before {
  content: "\e769";
}

.icon-a-task2:before {
  content: "\e76a";
}

.icon-a-waybill2:before {
  content: "\e76b";
}

.icon-guanyuwomen1:before {
  content: "\e72e";
}

.icon-qingchuhuancun1:before {
  content: "\e72f";
}

.icon-shanguang1:before {
  content: "\e730";
}

.icon-yundan1:before {
  content: "\e733";
}

.icon-duigou:before {
  content: "\e734";
}

.icon-close:before {
  content: "\e735";
}

.icon-bianji:before {
  content: "\e736";
}

.icon-boda:before {
  content: "\e737";
}

.icon-daohang:before {
  content: "\e738";
}

.icon-erweima:before {
  content: "\e739";
}

.icon-shenglue:before {
  content: "\e73a";
}

.icon-fuzhi:before {
  content: "\e73b";
}

.icon-bangzhu:before {
  content: "\e73c";
}

.icon-phone:before {
  content: "\e73d";
}

.icon-guanbi:before {
  content: "\e73e";
}

.icon-shaixuan:before {
  content: "\e740";
}

.icon-delate:before {
  content: "\e741";
}

.icon-check:before {
  content: "\e742";
}

.icon-jinggao:before {
  content: "\e743";
}

.icon-password:before {
  content: "\e744";
}

.icon-photo:before {
  content: "\e747";
}

.icon-xuanzhong:before {
  content: "\e748";
}

.icon-shuaixn:before {
  content: "\e749";
}

.icon-mima:before {
  content: "\e74a";
}

.icon-a-roundclose2:before {
  content: "\e74b";
}

.icon-zhongdian:before {
  content: "\e74c";
}

.icon-xiangxia:before {
  content: "\e74d";
}

.icon-zhanghu:before {
  content: "\e74e";
}

.icon-a-zhanghu2:before {
  content: "\e74f";
}

.icon-sousuo:before {
  content: "\e750";
}

.icon-kefu:before {
  content: "\e751";
}

.icon-zhaoxiangji:before {
  content: "\e752";
}

.icon-roundclose:before {
  content: "\e753";
}

.icon-weixuanzhong:before {
  content: "\e754";
}

.icon-zhuang:before {
  content: "\e755";
}

.icon-zhankai:before {
  content: "\e756";
}

.icon-shewnfenzheng:before {
  content: "\e757";
}

.icon-qingchu:before {
  content: "\e758";
}

.icon-suodingmima:before {
  content: "\e759";
}

.icon-shenfenzheng:before {
  content: "\e75a";
}

.icon-Wechat:before {
  content: "\e75b";
}

.icon-touxiang:before {
  content: "\e75c";
}

.icon-yundan:before {
  content: "\e75d";
}

.icon-yanzhengma:before {
  content: "\e75e";
}

.icon-tongzhishezhi:before {
  content: "\e75f";
}

.icon-xie:before {
  content: "\e760";
}

.icon-congyezigezheng:before {
  content: "\e761";
}

.icon-shalou:before {
  content: "\e762";
}

.icon-dakai:before {
  content: "\e763";
}

.icon-guanbi1:before {
  content: "\e764";
}
